<div class="row">
  <div class="col-md-4" *ngFor="let offer of offers">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">{{ offer.id }}</h5>
        <h5 class="card-title">{{ offer.title }}</h5>
        <p class="card-text">{{ offer.description }}</p>
        <a class="btn btn-link" [routerLink]="['/job-offers', 'edit', offer.id]">Edit</a>
       <button type="button" class="btn btn-outline-danger" (click)="offerDeleted.emit(offer.id)">Delete</button>
      </div>
    </div>
  </div>
</div>
