<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="job-offers">Home</a>
        <a class="nav-item nav-link" routerLink="job-offers/create">Create new offer</a>
      </div>
    </div>
    <div class="d-flex">
      <button  class="btn btn-success">Add job offer</button>
    </div>
  </nav>

  