<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
     
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3 text-secondary"></i>Company name
            </h6>
            <p>
                Landing.Jobs is the perfect place to boost your tech career.
                 Find your next job - remote, local or global - with great companies around the world.

            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
        
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="https://github.com/StiliStoyanov"  target ="blank" class="text-reset">GitHub</a>
            </p>
            <p>
              <a href="https://www.linkedin.com/in/stiliyan-stoyanov-07991523a/" target ="blank"  class="text-reset">LinkedIn</a>
            </p>
            <p>
              <a href="https://www.facebook.com/stili.stoyanov/" target ="blank"  class="text-reset">Facebook</a>
            </p>
           
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p>
                Address:
                <i class="fas fa-home me-3 text-secondary"></i> 
                Plovdiv, Bulgaria</p>
            <p>
                Email:
              <i class="fas fa-envelope me-3 text-secondary">
              stilistoyanov1@gmail.com
              </i>
            </p>
            <p>
                Student email:
                <i class="fas fa-home me-3 text-secondary"></i> 
                stu2101681052@uni-plovdiv.bg
            </p>
            
        
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
   
  </footer>
  <!-- Footer -->