<div class="col-md-12" >

<h2 class="mb-4">List of candidates for {{offer.title}} </h2>

<table class="table">
    <thead>
      <tr>
        <th scope="col">User ID</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody *ngIf="usersApplied.length>0; else noUsersApplied">
      <tr *ngFor="let user of usersApplied">
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
      </tr>
    </tbody>
    <ng-template #noUsersApplied>
        <h4>No users applied yet</h4>
    </ng-template>
  </table>
</div>